<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="bpf-operator-notification-heading" jhiTranslate="ifmSimple1App.operatorNotification.home.createOrEditLabel">Create or edit a Operator Notification</h2>

            <div>
                <bpf-alert-error></bpf-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ifmSimple1App.operatorNotification.receiveDate" for="field_receiveDate">Receive Date</label>
                    <div class="d-flex">
                        <input id="field_receiveDate" type="datetime-local" class="form-control" name="receiveDate" formControlName="receiveDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ifmSimple1App.operatorNotification.responseDate" for="field_responseDate">Response Date</label>
                    <div class="d-flex">
                        <input id="field_responseDate" type="datetime-local" class="form-control" name="responseDate" formControlName="responseDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ifmSimple1App.operatorNotification.operatorResponse" for="field_operatorResponse">Operator Response</label>
                    <select class="form-control" name="operatorResponse" formControlName="operatorResponse" id="field_operatorResponse">
                        <option value="ACCEPT">{{ 'ifmSimple1App.NotificationResponse.ACCEPT' | translate }}</option>
                        <option value="REJECT">{{ 'ifmSimple1App.NotificationResponse.REJECT' | translate }}</option>
                        <option value="IGNORE">{{ 'ifmSimple1App.NotificationResponse.IGNORE' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ifmSimple1App.operatorNotification.operatorWorkShift" for="field_operatorWorkShift">Operator Work Shift</label>
                    <select class="form-control" id="field_operatorWorkShift" name="operatorWorkShift" formControlName="operatorWorkShiftId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="operatorWorkShiftOption.id" *ngFor="let operatorWorkShiftOption of operatorworkshifts; trackBy: trackById">{{ operatorWorkShiftOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ifmSimple1App.operatorNotification.factoryEvent" for="field_factoryEvent">Factory Event</label>
                    <select class="form-control" id="field_factoryEvent" name="factoryEvent" formControlName="factoryEventId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="factoryEventOption.id" *ngFor="let factoryEventOption of factoryevents; trackBy: trackById">{{ factoryEventOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
