<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="bpf-operator-work-shift-heading" jhiTranslate="ifmSimple1App.operatorWorkShift.home.createOrEditLabel">Create or edit a Operator Work Shift</h2>

            <div>
                <bpf-alert-error></bpf-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ifmSimple1App.operatorWorkShift.startDate" for="field_startDate">Start Date</label>
                    <div class="d-flex">
                        <input id="field_startDate" type="datetime-local" class="form-control" name="startDate" formControlName="startDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ifmSimple1App.operatorWorkShift.endDate" for="field_endDate">End Date</label>
                    <div class="d-flex">
                        <input id="field_endDate" type="datetime-local" class="form-control" name="endDate" formControlName="endDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ifmSimple1App.operatorWorkShift.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="ACTIVE">{{ 'ifmSimple1App.WorkShiftStatus.ACTIVE' | translate }}</option>
                        <option value="ENDED">{{ 'ifmSimple1App.WorkShiftStatus.ENDED' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ifmSimple1App.operatorWorkShift.device" for="field_device">Device</label>
                    <select class="form-control" id="field_device" name="device" formControlName="deviceId">
                        <option *ngIf="!editForm.get('deviceId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="operatorDeviceOption.id" *ngFor="let operatorDeviceOption of devices; trackBy: trackById">{{ operatorDeviceOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('deviceId')!.invalid && (editForm.get('deviceId')!.dirty || editForm.get('deviceId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('deviceId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ifmSimple1App.operatorWorkShift.operator" for="field_operator">Operator</label>
                    <select class="form-control" id="field_operator" name="operator" formControlName="operatorId">
                        <option *ngIf="!editForm.get('operatorId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="operatorOption.id" *ngFor="let operatorOption of operators; trackBy: trackById">{{ operatorOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('operatorId')!.invalid && (editForm.get('operatorId')!.dirty || editForm.get('operatorId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('operatorId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
