<div>
    <h2 id="page-heading">
        <span jhiTranslate="ifmSimple1App.operatorWorkShift.home.title">Operator Work Shifts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-operator-work-shift" [routerLink]="['/operator-work-shift/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ifmSimple1App.operatorWorkShift.home.createLabel">
            Create a new Operator Work Shift
            </span>
        </button>
    </h2>

    <bpf-alert-error></bpf-alert-error>

    <bpf-alert></bpf-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="operatorWorkShifts?.length === 0">
        <span jhiTranslate="ifmSimple1App.operatorWorkShift.home.notFound">No operatorWorkShifts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="operatorWorkShifts && operatorWorkShifts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="startDate"><span jhiTranslate="ifmSimple1App.operatorWorkShift.startDate">Start Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="endDate"><span jhiTranslate="ifmSimple1App.operatorWorkShift.endDate">End Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="ifmSimple1App.operatorWorkShift.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deviceId"><span jhiTranslate="ifmSimple1App.operatorWorkShift.device">Device</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="operatorId"><span jhiTranslate="ifmSimple1App.operatorWorkShift.operator">Operator</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let operatorWorkShift of operatorWorkShifts ;trackBy: trackId">
                    <td><a [routerLink]="['/operator-work-shift', operatorWorkShift.id, 'view']">{{ operatorWorkShift.id }}</a></td>
                    <td>{{ operatorWorkShift.startDate | date:'medium' }}</td>
                    <td>{{ operatorWorkShift.endDate | date:'medium' }}</td>
                    <td jhiTranslate="{{ 'ifmSimple1App.WorkShiftStatus.' + operatorWorkShift.status }}">{{ operatorWorkShift.status }}</td>
                    <td>
                        <div *ngIf="operatorWorkShift.deviceId">
                            <a [routerLink]="['/operator-device', operatorWorkShift.deviceId , 'view']" >{{ operatorWorkShift.deviceId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="operatorWorkShift.operatorId">
                            <a [routerLink]="['/operator', operatorWorkShift.operatorId , 'view']" >{{ operatorWorkShift.operatorId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/operator-work-shift', operatorWorkShift.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/operator-work-shift', operatorWorkShift.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(operatorWorkShift)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="operatorWorkShifts && operatorWorkShifts.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
